{
  "name": "${node_pkg}",
  "description": "⏰ A terminal countdown timer app in Rust...",
  "version": "${node_version}",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "keywords": [
    "rust",
    "cli",
    "template",
    "npm",
    "binaries",
    "tui",
    "publish",
    "ratatui"
  ]
}